
body {
    // background-color: #F8F8F8;
     background-image: url('https://sm.ign.com/ign_fr/screenshot/default/ball_e9mq.jpg'); 
     background-repeat: no-repeat;
     background-size: cover;
    img {
        height: 20rem;
    }
}
